<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.mapper.DocMapper">
	
	<insert id="createDocSchema" parameterType="map">
		CREATE TABLE IF NOT EXISTS doc 
			(id INT NOT NULL,
			name VARCHAR(${nameSize}) NOT NULL,
			PRIMARY KEY (id));
			
		CREATE SEQUENCE IF NOT EXISTS doc_seq
                START WITH 1 
                INCREMENT BY 1;
	</insert>
	
	<select id="nextDocId" resultType="int">
		select doc_seq.NEXTVAL
    </select>
    
	<insert id="createDoc" parameterType="map">
		INSERT INTO doc(id, name)
		VALUES(#{id}, #{name})
	</insert>

</mapper>